/* sticky vs fixed */

/* sticky remains within the parent container, that is, once the parent container moves out of sight, the sticky element does so as well. It is  a part of the document flow */
/* Fixed element moves out of the document flow. So it remains in the position intact even when the parent container goes out of sight. It is basically referenced from the viewport */


/* FLEXBOX */

/* justify-content : default: flex-start
other values : center, space-between,space-around, flex-start, flex-end
 */
/* align-items: default: strech 
other values : center, flex-start, flex-end, baseline - this will set all the items text to align with the largest item text in the list of items
flex-wrap
align-content

*/
/* Child properties
1. align-self : flex-start, 
2. flex-grow : 1 --> set the items to take up all the container space equally
3. flex: flex-grow flex-shrink flex-basis

flex: 1; -> this will set the item to take up all the space equally
this means -> 
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0; 


flex:0/flex:none/flex:initial; -> this will set the item to not take up any space, it will shrink to its content size
this means ->
flex-grow: 0;
flex-shrink: 1;
flex-basis: auto;

flex: auto -> Using flex: auto will mean that items end up different sizes, as the space that is shared between the items is shared out after each item is laid out as max-content size. So a large item will gain more space.  
this means ->   
flex-grow: 1;
flex-shrink: 1;   
flex-basis: auto;
 */